.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*-------------------Form---------------------*/

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(139, 139, 139);
  width: 25%;
  height: 200px;
  margin: 0 auto;
  padding: 20px;
}

.block-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

input {

  width: 50%;
  height: 20px;
  border-radius: 3px;
  border: 2px solid rgb(139, 139, 139);
}

.input-1 {
  margin: 20px 0 20px 0;
}
.input-2 {
  margin: 0px 0 10px 0;
}

.btn-submit {
  background-color: rgb(1, 128, 160);
  height: 30px;
  border:none ;
  border-radius: 5px;
  width: 50%;
  color: #fff;
}

.error {
  border: 2px solid red;
}



